.testimonials {
    margin-top: 110px;
    margin-bottom: 110px;
}
.testimonials__inner {
    text-align: center;
    color: #14274A;
}
.testimonials__title {
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    margin-bottom: 25px;
}
.testimonials__subtitle {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 20px;
}
.testimonials__text {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 22px;
}
.testimonials__img:first-child {
    margin-right: 20px;
}
.testimonials__img {
    max-width: 50px;
    height: auto;
}